In [7]:
import os
import pandas as pd
import numpy as np
import ast

In [8]:
data_directory = os.path.dirname(os.path.realpath('__file__')) + "\data"
df_software = pd.read_csv(data_directory+"\software_engineer.csv")
df_software.head()

,Companies,Positions,ID,Descriptions
0,State Street,Software Engineer I (EMS Trading Team) - Charl...,e8a9b71f6c5126ae,['Opportunity to influence and impact the arch...
1,Google,"Software Engineering Intern, BS, Winter 2020",1d99705341f0d46c,['1. In the “Resume Section:” attach an update...
2,DataDog,Software Engineer,f47387c886f1b1dd,"['Build distributed, high-throughput, real-tim..."
3,Pluralsight,Software Engineer,ddc20246b79174f2,"['Provide architectural, strategic, and scale ..."
4,Achievement Network (ANet),Software Engineer,a0303ea18678af0c,['Implement ANet’s next generation of technolo...

In [9]:
df_software = df_software.dropna()
df_software = df_software[["Descriptions"]]
print(type(df_software))
df_software.head()

<class 'pandas.core.frame.DataFrame'>

                                        Descriptions
0  ['Opportunity to influence and impact the arch...
1  ['1. In the “Resume Section:” attach an update...
2  ['Build distributed, high-throughput, real-tim...
3  ['Provide architectural, strategic, and scale ...
4  ['Implement ANet’s next generation of technolo...

In [10]:
# Turn all data from list literals to list
for i in range (0, len(df_software)):
    if type(df_software.iloc[i,0]) is str:
        df_software.iloc[i,0] = ast.literal_eval(df_software.iloc[i,0])

df_software.head()

                                        Descriptions
0  [Opportunity to influence and impact the archi...
1  [1. In the “Resume Section:” attach an updated...
2  [Build distributed, high-throughput, real-time...
3  [Provide architectural, strategic, and scale r...
4  [Implement ANet’s next generation of technolog...

In [11]:
# Testing

df_software.iloc[0][0][2]
for data in df_software["Descriptions"]:
    print(type(data))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [59]:
desc_se = df_software["Descriptions"].tolist()
len(desc_se)

46

In [69]:
desc_se_flat = [item for sublist in desc_se for item in sublist]

# create the rank of documents – we will use it later
ranks = []
for i in range(1, len(desc_se_flat)+1):
    ranks.append(i)
len(desc_se_flat)

664

In [78]:
# Remove punctuations
from nltk.corpus import stopwords

df_stopwords = pd.DataFrame({'descs':desc_se_flat})

stop = stopwords.words('english')

df_stopwords['descs'] = df_stopwords['descs'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df_stopwords
desc_se_flat = df_stopwords["descs"].tolist()
desc_se_flat[0:5]

['Opportunity influence impact architecture, standards, design key product initiatives applications Java services',
 'Contribute Sr. Individual contributor within team top engineers',
 'Work dynamic, fast-paced, Agile team environment',
 'BS/MS Computer Science equivalent field',
 '3+ years commercial software development, proficient developing multi-tier solutions']

In [79]:
import nltk
from nltk.stem.snowball import SnowballStemmer
import re

In [80]:
# Stop Words
stopwords = nltk.corpus.stopwords.words('english')
# Load 'stemmer'
stemmer = SnowballStemmer("english")

In [81]:
# Functions for sentence tokenizer, to remove numeric tokens and raw punctuation
def tokenize_and_stem(text):
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems

def tokenize_only(text):
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [82]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [134]:
# tfidf vectorizer
tfidf_vectorizer = TfidfVectorizer(max_df=0.5, max_features=200000, min_df=1, stop_words='english', use_idf=True,
                                   tokenizer=tokenize_and_stem, ngram_range=(1,3))

#fit the vectorizer to data
tfidf_matrix = tfidf_vectorizer.fit_transform(desc_se_flat)
terms = tfidf_vectorizer.get_feature_names()

print(tfidf_matrix.shape)
print(tfidf_matrix)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:301: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'afterward', 'alon', 'alreadi', 'alway', 'ani', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becaus', 'becom', 'befor', 'besid', 'cri', 'describ', 'dure', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'forti', 'henc', 'hereaft', 'herebi', 'howev', 'hundr', 'inde', 'mani', 'meanwhil', 'moreov', 'nobodi', 'noon', 'noth', 'nowher', 'onc', 'onli', 'otherwis', 'ourselv', 'perhap', 'pleas', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'themselv', 'thenc', 'thereaft', 'therebi', 'therefor', 'togeth', 'twelv', 'twenti', 'veri', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev', 'whi', 'yourselv'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

(664, 7850)
  (0, 4929)	0.17743746587167045
  (0, 3727)	0.17743746587167045
  (0, 3567)	0.17264559939088153
  (0, 529)	0.14895401805525083
  (0, 6668)	0.1534023937405399
  (0, 1955)	0.10971647619477819
  (0, 3999)	0.1684946958388015
  (0, 5389)	0.11621622033271585
  (0, 3748)	0.17743746587167045
  (0, 458)	0.11550157734889074
  (0, 3901)	0.12261525509304118
  (0, 6244)	0.13185549725911921
  (0, 4932)	0.19898436235309114
  (0, 3730)	0.1831050409852232
  (0, 3568)	0.1831050409852232
  (0, 543)	0.1831050409852232
  (0, 6671)	0.17743746587167045
  (0, 1990)	0.1831050409852232
  (0, 4002)	0.1831050409852232
  (0, 5401)	0.1831050409852232
  (0, 3749)	0.1831050409852232
  (0, 491)	0.19898436235309114
  (0, 3930)	0.17743746587167045
  (0, 4933)	0.19898436235309114
  (0, 3731)	0.1831050409852232
  :	:
  (662, 4348)	0.1671037662089728
  (663, 2046)	0.09036326564983015
  (663, 6513)	0.1354035771870305
  (663, 5334)	0.1463354649491617
  (663, 5878)	0.16033148000186215
  (663, 5719)	0.19862564732951413
  (663, 5034)	0.15358533579231382
  (663, 1672)	0.20797235646308396
  (663, 2358)	0.20797235646308396
  (663, 1673)	0.20797235646308396
  (663, 4105)	0.2211458030981143
  (663, 5042)	0.2211458030981143
  (663, 2359)	0.2211458030981143
  (663, 5886)	0.2211458030981143
  (663, 2143)	0.2211458030981143
  (663, 6533)	0.2211458030981143
  (663, 5721)	0.2211458030981143
  (663, 4106)	0.2211458030981143
  (663, 5043)	0.2211458030981143
  (663, 1674)	0.2211458030981143
  (663, 2360)	0.2211458030981143
  (663, 5887)	0.2211458030981143
  (663, 2144)	0.2211458030981143
  (663, 6534)	0.2211458030981143
  (663, 5722)	0.2211458030981143

In [135]:
#Import Kmeans
from sklearn.cluster import KMeans

# Define number of clusters
num_clusters = 5

#Running clustering algorithm
km = KMeans(n_clusters=num_clusters, init="k-means++")
km.fit(tfidf_matrix)

#final clusters
clusters = km.labels_.tolist()
print(clusters)
description_data = {'rank': ranks, 'descriptions': desc_se_flat, 'cluster': clusters }
frame = pd.DataFrame(complaints_data, index = [clusters], columns = ['rank', 'cluster'])

#number of docs per cluster
# frame['cluster'].value_counts()

[4, 3, 3, 2, 4, 4, 3, 1, 4, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 2, 2, 1, 4, 4, 3, 2, 4, 4, 1, 1, 2, 1, 4, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 3, 4, 3, 3, 1, 1, 1, 1, 2, 3, 0, 3, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 3, 4, 1, 1, 1, 0, 1, 3, 1, 3, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 3, 1, 1, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 2, 4, 3, 1, 1, 1, 1, 1, 1, 2, 2, 4, 2, 4, 1, 2, 1, 1, 1, 1, 1, 1, 2, 4, 1, 1, 2, 1, 0, 1, 1, 1, 2, 1, 1, 1, 3, 1, 3, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 0, 3, 0, 1, 1, 1, 4, 1, 4, 1, 1, 1, 1, 2, 4, 3, 3, 2, 4, 4, 1, 4, 1, 1, 1, 1, 1, 0, 1, 1, 1, 3, 1, 0, 1, 1, 3, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 4, 1, 1, 1, 1, 1, 0, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 3, 1, 0, 1, 3, 3, 2, 0, 1, 1, 3, 1, 1, 3, 4, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 3, 2, 1, 3, 1, 1, 4, 3, 3, 4, 2, 4, 4, 3, 1, 4, 1, 1, 1, 1, 0, 1, 1, 1, 2, 3, 1, 1, 1, 1, 3, 3, 1, 0, 3, 1, 1, 1, 0, 1, 2, 4, 4, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 2, 3, 3, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 4, 1, 1, 1, 1, 2, 2, 1, 4, 4, 3, 2, 4, 4, 1, 1, 2, 1, 4, 3, 4, 3, 3, 2, 4, 4, 1, 4, 1, 1, 1, 1, 1, 0, 1, 1, 1, 3, 1, 3, 1, 0, 1, 1, 1, 1, 1, 0, 3, 3, 1, 2, 1, 1, 3, 1, 1, 3, 1, 0, 3, 3, 3, 1, 3, 1, 1, 3, 1, 3, 1, 1, 4, 2, 3, 3, 0, 1, 1, 2, 4, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 4, 4, 0, 1, 0, 1, 3, 3, 1, 2, 1, 1, 1, 1, 3, 0, 0, 3, 1, 0, 1, 1, 1, 1, 2, 4, 4, 4, 4, 4, 4, 4, 1, 1, 0, 3, 3, 1, 1, 1, 1, 3, 3, 1, 0, 1, 4, 1, 3, 1, 1, 1, 0, 0, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 4, 1, 1, 0, 1, 1, 3, 0, 3, 1, 3, 1, 4, 3, 0, 1, 1, 1, 1, 1, 1, 2, 4, 0, 2, 4, 1, 0, 0, 1, 3, 3, 0, 1, 3, 0, 2, 4, 1, 1, 1, 4, 3, 0, 1, 1, 0, 1, 1, 1, 2, 3, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 3, 1, 1, 1, 3, 3, 1, 4, 3, 4, 4, 2, 4, 4, 4, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 0, 3, 1, 0, 1, 1, 1, 1, 3, 3, 1, 2, 3, 3, 3, 3, 1, 1, 1, 1, 1, 2, 2, 2, 4, 2, 3, 0, 1, 1]

In [137]:
totalvocab_stemmed = []
totalvocab_tokenized = []
for i in desc_se_flat:
    allwords_stemmed = tokenize_and_stem(i)
    totalvocab_stemmed.extend(allwords_stemmed)
    allwords_tokenized = tokenize_only(i)
    totalvocab_tokenized.extend(allwords_tokenized)
vocab_frame = pd.DataFrame({'words': totalvocab_tokenized}, index = totalvocab_stemmed)

#sort cluster centers by proximity to centroid
order_centroids = km.cluster_centers_.argsort()[:, ::-1]
for i in range(num_clusters):
    print("Cluster %d words:" % i, end=" ")
    for ind in order_centroids[i, :8]:
        print(' %s' % vocab_frame.ix[terms[ind].split(' ')].values.tolist()[0][0].encode('utf-8', 'ignore'), end=',')
    print()

Cluster 0 words:  b'design', b'design', b'development', b'familiar', b'strong', b'oo', b'oo', b'oo',
Cluster 1 words:  b'experience', b'skills', b'communication', b'strong', b'software', b'testing', b'development', b'data',
Cluster 2 words:  b'computer', b'degree', b'science', b'computer', b'field', b'degree', b'degree', b'related',
Cluster 3 words:  b'work', b'team', b'environment', b'agile', b'experience', b'ability', b'fast-paced', b'ability',
Cluster 4 words:  b'years', b'development', b'java', b'experience', b'development', b'software', b'software', b'years',

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  from ipykernel import kernelapp as app